# ignore environment files
.env
.env.local
.env.development
.env.test
.env.production
.env.staging
.env.*

# ignore Python virtual environment
.venv/
venv/
env/

# database

data/*.sqlite
data/secret.key
